body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 300px;
  padding: 16px;
  font-weight: 700;
  font-size: 1em;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  width: 15em;
  height: 15em;
}

ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 2em;
}

.container {
  flex: 1;
  display: flex;
}

.cards {
  padding: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
